# 依赖包
node_modules
*/node_modules

# 构建产物
dist

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# 系统缓存文件
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# 操作系统临时文件
*.swp
*.swo
*~

# 运行缓存
.npm
.eslintcache
.pnp
.pnp.js
coverage
.nyc_output

pnpm-workspace.yaml

.vercel
