<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Webpack EJS MPA</title>
	</head>
	<body>
		<div class="app-container">
			<nav class="nav">
				<a href="<%= BASE_URL %>home/index.html">Home</a>
				<a href="<%= BASE_URL %>about/index.html">About</a>
				<a href="<%= BASE_URL %>link/index.html">Link</a>
			</nav>
			<div class="page-wrap">
				<h1>Hello Webpack EJS MPA</h1>
			</div>
		</div>
	</body>
</html>
